/*Organize the CSS selectors by section. I am choosing general to specific, 
like putting <p> that applies to all at the start and then moving into 
head (and head-specific <p>), body (and body-specific <p>), footer (etc.) etc.). 
And then I am organizing selectors by which page / chapter number they first show up in.
And then, after that, I am sorting them by alphabetical order. 
I have added several comments explaining my thought process below. 
(DONE)

Organize your declarations by alphabetical order (DONE) */

/*All images, credit given to royalty-free images website Pexels.com!*/

/*body applies to all*/
body{
    background: repeating-linear-gradient( -45deg,#515151, #333 1px,#e6c200 1px);
    background-color: #515151;
    color: #e6c200;
    font-family:'Times New Roman', Times, serif;
     }

    /*there are links and paragraphs on every page*/
    body a{color: lightblue;
        text-decoration: none;
    }
    /*removing link underline, making links easier to see against dark background*/
    body p{ color: lightgray;
        margin-left: 35px;
    }


    /*footers show up each page, and div is after body in alphabet*/
div.footer {
    background: repeating-linear-gradient( 45deg,#333, black 1px, lightgray 1px);
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
}

/*figures show up in page 1, page 4*/
figcaption{color: lightgray;
    font-family: 'Satisfy', cursive;
    }
    figcaption::first-letter{
        font-size: 120%;
        text-indent: 50px
    }

/*images show up in page 1, page 4*/
img.large{box-sizing: border-box;
    max-height: 500px;
    max-width: 80%;
}
img.small{box-sizing: border-box;
    max-height: 300px;
    min-height: 300px;
    max-width: 30%;
}

/*Tables show up in page 3*/
fieldset{
    background: repeating-linear-gradient( 45deg,#333, black 1px, lightgray 1px); 
}
/*Buttons show up in page 3*/
input#fake { background-color: #333;
    background-position: 8px 9px;
    background-repeat: no-repeat;
    border: 1px solid #bdbdbd;
    border-bottom: 2px solid #b2b2b2;
    border-radius: 5px;
    color: #e6c200; 
    display: block;
    font-size: 120%;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 5px 10px 5px 10px; 
    text-shadow: 0px 1px 1px #ffffff;
   }
input#fake:hover {
    background-color: #333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    color: #e6c200;}

/*Tables show up in page 3*/
table {background: repeating-linear-gradient( 45deg,#333, black 1px, lightgray 1px);
    background-color: #333; 
    border: 3px dotted #e6c200;
    border-radius: 25px;
    margin-left: 3%;
margin-right: 3%;
 padding: 30px; 
 width:90%;

}



/*All pages: Add a consistent navbar (navigation menu) across all pages of your website. (DONE)
Be consistent and succinct with navigation labels. (DONE)
Personalize the text (DONE)
Change the background color and add borders for the table (DONE)
Add a footer. Center the footer text and images. (DONE)
Add a navbar that links to the other pages. (DONE)
Customize the map (DONE)
Change the background color for the form. (DONE)
Make sure to add comments to different sections of the code to explain the content. (DONE)*/

/*Page 1: adapted from chapter 5: homepage*/

/*Page 2: adapted from chapter 6 and 14: clubs and classes, tables*/


/*Page 3: adapted from chapter 7 and 14: dorm registration, form */


/*Page 4: adapted from chapter 8: mailing and school map iframe